table {
    border-collapse:separate;
    border-spacing: 0px;
    margin: auto;
    margin-bottom: 50px;
}
body{
    background-color: black;
}
td{
    height: 1px;
    width: 1px;
}

.blank{
    background-color: white;
}

.water{
    background-color: blue;
}

.mountain{
    background-color: grey;
}

.forest{
    background-color: green;
}

.plains{
    background-color: yellow;
}