<header>
    <h1>MapDemon</h1>
    <h2>insert something catchy here</h2>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Create Map</a></li>
            <li><a href="#">Choose Adventure</a></li>
        </ul>
    </nav>
</header>