<header>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a class= "menu-options" href="/home"><li class= "menu-options">Home</li></a>
                <a class= "menu-options" href="/about"><li class= "menu-options">About</li></a>
                <a class= "menu-options" href="/creation"><li class= "menu-options">Create Map</li></a>
                <a class= "menu-options" href="/viewmap"><li class="menu-options">View Map</li></a>
            </ul>
        </div>
    </nav>
    <div id="header-titles">
        <h1 id="header-title">MapDemon</h1>
        <h1>  |  </h1>
        <h2 id="header-subtitle">create your adventure</h2>
    </div>
    <button>Log Out?</button>
</header>