<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="chat-widget"></div>
        <div id="about-intro-section">
            <h2>Encounter the Creators</h2>
        </div>
        <div id="creators-section">
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <p>name</p>
                    <p>traits</p>
                </figcaption>
            </figure>
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <p>name</p>
                    <p>traits</p>
                </figcaption>
            </figure>
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <p>name</p>
                    <p>traits</p>
                </figcaption>
            </figure>
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <p>name</p>
                    <p>traits</p>
                </figcaption>
            </figure>
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <p>THEMapDemon</p>
                    <p>traits</p>
                </figcaption>
            </figure>
        </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>