<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="chat-widget"></div>
        <div id="login-section">
            <h1>Encounter the Demiurgi</h1>
            <div>
                <figure>
                    <img src="x" alt="x">
                    <figcaption>
                        <p>name</p>
                        <p>traits</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="x" alt="x">
                    <figcaption>
                        <p>name</p>
                        <p>traits</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="x" alt="x">
                    <figcaption>
                        <p>name</p>
                        <p>traits</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="x" alt="x">
                    <figcaption>
                        <p>name</p>
                        <p>traits</p>
                    </figcaption>
            </figure>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>