<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="chat-widget"></div>
        <div id="about-intro-section">
            <h2>Encounter the Creators</h2>
        </div>
        <div id="creators-section">
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <h4>Karl, Level 33 Cleric</h4>
                    <p>"Apparently healing magic doesn't work on code. I'll have to take that level in Code Wizard. Thanks CodeFellows!"</p>
                </figcaption>
            </figure>
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <h4>Mae, Level 30 Mage</h4>
                    <p>Is actually two halfling bards in a cloak pretending to ba a human</p>
                </figcaption>
            </figure>
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <h4>Anthony, Level 29 Artificer</h4>
                    <p>"Why are machines so complicated. Why can't they be easier?"</p>
                </figcaption>
            </figure>
            <figure>
                <img src="x" alt="x">
                <figcaption>
                    <h4>Evy, Level 28 Druid</h4>
                    <p>In a squirrel suit, with a falcon animal companion.</p>
                </figcaption>
            </figure>
        </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>