<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="chat-widget"></div>
        <div id="login-section">
            <button>Login with Discord</button>
            <h3></h3>
        </div>
        <div id="info-section">
            <h3>Welcome Weary Traveler</h3>
            <p>insert geneal 'about the site' info here</p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>