<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <main>
    <div id="map-section-create">
      <div id="save-new-map-form">
        <form action="x" method="x">
          <div id="generate-map-button-container">
            <input id="map-name-input" type="text" value="Map Name">
            <input id="save-map-button" type="submit" value="Save Map">
            <input id="array-json-container" type="hidden">
            <button type="button" onclick="mapGen()">New Map</button>
          </div>
        </form>
      </div>
      <div id="mapground">
          <table id="board"></table>
          <ul id="legend">
            <li>&#x21bf;N&#x21be;</li>
            <li class="water">water</li>
            <li class="mountain">mountain</li>
            <li class="forest">forest</li>
            <li class="plains">plains</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="world-options-section">
      <form action="x">
        <!-- <fieldset id="biome-selection"> -->
          <!-- <h4>Select Biomes</h4>
          <p>
          <input id="water" type="checkbox" name="water" value="water"> Water<br />
          <input id="plains" type="checkbox" name="plains" value="plains"> Plains<br />
          <input id="mountains" type="checkbox" name="mountains" value="mountains"> Mountains<br />
          <input id="forest" type="checkbox" name="forest" value="forest"> Forest<br />
          <p> -->
          <!-- </fieldset> -->
        <!-- <fieldset id="icons-selection">
          <h4>Select Tokens</h4>
          <p>
          <input id="Landmark" type="checkbox" name="Landmark" value="Landmark"> Landmark<br />
          <input id="Settlement" type="checkbox" name="Settlement" value="Settlement"> Settlement<br />
          <input id="Encounter" type="checkbox" name="Encounter" value="Encounter"> Encounter<br />
          <input id="Charactor" type="checkbox" name="Charactor" value="Character"> Character<br />
          <p>
        </fieldset> -->
      </form>
    </div>
    <div id="chat-widget">
      <%- include('../partials/chatbox') %>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>
<script src="demiurge.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
</html>