<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div id="login-section">
            <a href="/login">Login with Discord</a>
            <a href="https://titanembeds.com/user/dashboard">Add Titan to Your Server</a>
        </div>
        <div id="info-section">
            <h3>Welcome</h3>
            <p>insert general brief 'about the site' info here</p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>