<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class="discord">
        <a href="/api/discord/login">Login with Discord</a>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>